*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.house {
  position: relative;
  background-color: aqua;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}